# Problem Set IV - Data Preprocessing

In [48]:
import numpy as np
import pandas as pd
import re
from sklearn import preprocessing as pre
from sklearn.impute import SimpleImputer

In [4]:
# Load data into pandas.DataFrame from Avocado Dataset.csv
avdata = pd.read_csv("./Avocado.csv")
avdata

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Hierarchy
0,0,27-12-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,Old
1,1,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,Old
2,2,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,Old
3,3,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,Old
4,4,29-11-2015,1.29,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,Old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18245,18245,28-01-2018,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico,Recent
18246,18246,21-01-2018,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico,Recent
18247,18247,14-01-2018,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico,Recent
18248,18248,07-01-2018,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico,Recent
18249,18249,18-03-2018,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.0,organic,2018,WestTexNewMexico,Recent

In [5]:
# Load data into pandas.DataFrame from Avocado Dataset.csv
trdata = pd.read_csv("./Trail.csv")
trdata

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
1,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
3,22-11-2015,NaN,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0,conventional,2015,Albany
4,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,20-09-2015,NaN,498640.23,4376.74,398673.48,418.46,95171.55,91612.66,3558.89,0.0,conventional,2015,Boston
198,13-09-2015,NaN,655682.95,5422.29,560792.23,353.77,89114.66,84843.55,4271.11,0.0,conventional,2015,Boston
199,06-09-2015,NaN,577774.74,4237.44,477867.83,496.62,95172.85,94558.41,614.44,0.0,conventional,2015,Boston
200,30-08-2015,NaN,526664.87,4177.03,438502.90,554.04,83430.90,83242.01,188.89,0.0,conventional,2015,Boston
201,23-08-2015,NaN,589471.32,4744.11,488292.10,608.61,95826.50,95585.38,241.12,0.0,conventional,2015,Boston

In [6]:
avdata.dtypes

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
Hierarchy        object
dtype: object

1. Select a subset of relevant attributes from the given dataset that are necessary to know about thetotal volume of avocados with product lookup codes (PLU) 4046, 4225, 4770) which are of organic type. (Use AVOCADO dataset)

In [7]:
avdata['type'] = [x.strip() for x in avdata['type'].astype(str)]

In [8]:
orgData = pd.DataFrame([avdata.iloc[i] for i in avdata.index if avdata['type'].iloc[i] == 'organic'])

In [9]:
orgData[['Total Volume', "4046", "4225", "4770"]]

       Total Volume     4046     4225    4770
9126         989.55     8.16    88.59    0.00
9127        1163.03    30.24   172.14    0.00
9128         995.96    10.44   178.70    0.00
9129        1158.42    90.29   104.18    0.00
9130         831.69     0.00    94.73    0.00
...             ...      ...      ...     ...
18245      13888.04  1191.70  3431.50    0.00
18246      13766.76  1191.92  2452.79  727.94
18247      16205.22  1527.63  2981.04  727.01
18248      17489.58  2894.77  2356.13  224.53
18249      15896.38  2055.35  1499.55    0.00

[9124 rows x 4 columns]

2. Discard all duplicate entries in the given dataset and fill all the missing values in the attribute “AveragePrice” as 1.25. Also print the size of the dataset before and after removing duplicates. (Use Trail dataset)

In [10]:
trdata.shape

(202, 13)

In [11]:
trdata = trdata.drop_duplicates()

In [12]:
trdata.shape

(195, 13)

In [13]:
is_number = lambda x: re.match(r'[+-]?[0-9]+\.?[0-9]*', str(x)) is not None

In [14]:
defaultAvgPrice = 1.25
for i in range(len(trdata)):
    print(i, trdata.iloc[i])
    if is_number(trdata.iloc[i]['AveragePrice']) == False:
        trdata.loc[i, 'AveragePrice'] = defaultAvgPrice
trdata

0 Date              20-12-2015
AveragePrice            1.35
Total Volume           54877
4046                  674.28
4225                 44638.8
4770                   58.33
Total Bags           9505.56
Small Bags           9408.07
Large Bags             97.49
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 0, dtype: object
1 Date              13-12-2015
AveragePrice            0.93
Total Volume          118220
4046                   794.7
4225                  109150
4770                   130.5
Total Bags           8145.35
Small Bags           8042.21
Large Bags            103.14
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 1, dtype: object
2 Date              06-12-2015
AveragePrice            1.08
Total Volume         78992.1
4046                    1132
4225                 71976.4
4770                   72.58
Total Bags           5811.16
Small Bags            5677.4
Large Bags            133.76
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 2, dtype: object
3 Date              22-11-2015
AveragePrice             NaN
Total Volume         55979.8
4046                 1184.27
4225                   48068
4770                   43.61
Total Bags           6683.91
Small Bags           6556.47
Large Bags            127.44
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 3, dtype: object
4 Date            13-12-2015
AveragePrice          1.21
Total Volume        118220
4046                 794.7
4225                109150
4770                 130.5
Total Bags         8145.35
Small Bags         8042.21
Large Bags          103.14
XLarge Bags              0
type              organic
year                  2015
region                xxxx
Name: 5, dtype: object
5 Date            06-12-2015
AveragePrice          1.21
Total Volume       78992.1
4046                  1132
4225               71976.4
4770                 72.58
Total Bags         5811.16
Small Bags          5677.4
Large Bags          133.76
XLarge Bags              0
type              organic
year                  2015
region                xxxx
Name: 6, dtype: object
6 Date            29-11-2015
AveragePrice          1.21
Total Volume       51039.6
4046                941.48
4225               43838.4
4770                 75.78
Total Bags         6183.95
Small Bags         5986.26
Large Bags          197.69
XLarge Bags              0
type              organic
year                  2015
region                yyyy
Name: 7, dtype: object
7 Date            22-11-2015
AveragePrice          1.21
Total Volume       55979.8
4046               1184.27
4225                 48068
4770                 43.61
Total Bags         6683.91
Small Bags         6556.47
Large Bags          127.44
XLarge Bags              0
type              organic
year                  2015
region                yyyy
Name: 8, dtype: object
8 Date              22-03-2015
AveragePrice            1.12
Total Volume         46346.8
4046                 2141.83
4225                 34313.6
4770                   141.8
Total Bags           9749.66
Small Bags            9252.6
Large Bags            497.06
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 15, dtype: object
9 Date              15-03-2015
AveragePrice            1.11
Total Volume         43045.8
4046                 2128.26
4225                 30447.2
4770                   99.67
Total Bags           10370.7
Small Bags           9989.59
Large Bags             381.1
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 16, dtype: object
10 Date              08-03-2015
AveragePrice            1.07
Total Volume         40507.4
4046                  795.68
4225                 30370.6
4770                  159.05
Total Bags           9181.99
Small Bags           8827.55
Large Bags            354.44
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 17, dtype: object
11 Date              01-03-2015
AveragePrice            0.99
Total Volume         55595.7
4046                  629.46
4225                 45633.3
4770                  181.49
Total Bags           9151.45
Small Bags           8986.06
Large Bags            165.39
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 18, dtype: object
12 Date              22-02-2015
AveragePrice            1.07
Total Volume         45675.1
4046                 1088.38
4225                 35056.1
4770                     151
Total Bags           9379.54
Small Bags           9000.16
Large Bags            379.38
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 19, dtype: object
13 Date              15-02-2015
AveragePrice            1.06
Total Volume         41567.6
4046                  986.66
4225                 30045.5
4770                  222.42
Total Bags             10313
Small Bags           9979.87
Large Bags            333.16
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 20, dtype: object
14 Date              08-02-2015
AveragePrice            0.99
Total Volume           51254
4046                 1357.37
4225                 39111.8
4770                  163.25
Total Bags           10621.5
Small Bags           10113.1
Large Bags            508.44
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 21, dtype: object
15 Date              01-02-2015
AveragePrice            0.99
Total Volume         70873.6
4046                  1353.9
4225                 60017.2
4770                  179.32
Total Bags           9323.18
Small Bags           9170.82
Large Bags            152.36
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 22, dtype: object
16 Date              25-01-2015
AveragePrice            1.06
Total Volume         45147.5
4046                  941.38
4225                 33196.2
4770                  164.14
Total Bags           10845.8
Small Bags           10103.4
Large Bags            742.47
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 23, dtype: object
17 Date              18-01-2015
AveragePrice            1.17
Total Volume         44511.3
4046                  914.14
4225                 31540.3
4770                  135.77
Total Bags             11921
Small Bags           11651.1
Large Bags            269.96
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 24, dtype: object
18 Date              11-01-2015
AveragePrice            1.24
Total Volume         41195.1
4046                 1002.85
4225                 31640.3
4770                  127.12
Total Bags           8424.77
Small Bags           8036.04
Large Bags            388.73
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 25, dtype: object
19 Date              04-01-2015
AveragePrice            1.22
Total Volume         40873.3
4046                  2819.5
4225                 28287.4
4770                    49.9
Total Bags           9716.46
Small Bags           9186.93
Large Bags            529.53
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Name: 26, dtype: object
20 Date              27-12-2015
AveragePrice            0.99
Total Volume          386100
4046                  292097
4225                 27350.9
4770                   297.9
Total Bags           66354.3
Small Bags           48605.9
Large Bags           17748.4
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 27, dtype: object
21 Date              20-12-2015
AveragePrice            1.08
Total Volume          331378
4046                  251774
4225                 20702.5
4770                  103.06
Total Bags           58797.9
Small Bags           46930.3
Large Bags           11867.6
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 28, dtype: object
22 Date              13-12-2015
AveragePrice            0.96
Total Volume          417772
4046                  324932
4225                 31019.1
4770                   275.8
Total Bags           61545.3
Small Bags           38903.6
Large Bags           22628.2
XLarge Bags            13.53
type            conventional
year                    2015
region               Atlanta
Name: 29, dtype: object
23 Date              06-12-2015
AveragePrice            1.07
Total Volume          357637
4046                  283024
4225                 23740.8
4770                  181.92
Total Bags             50690
Small Bags           37032.7
Large Bags           13654.7
XLarge Bags             2.71
type            conventional
year                    2015
region               Atlanta
Name: 30, dtype: object
24 Date              29-11-2015
AveragePrice            0.99
Total Volume          333281
4046                  250289
4225                 28889.6
4770                  307.83
Total Bags           53794.7
Small Bags           33031.7
Large Bags           20738.5
XLarge Bags            24.41
type            conventional
year                    2015
region               Atlanta
Name: 31, dtype: object
25 Date              22-11-2015
AveragePrice               1
Total Volume          356415
4046                  269799
4225                 29732.3
4770                  501.16
Total Bags           56382.1
Small Bags           36992.3
Large Bags           19389.8
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 32, dtype: object
26 Date              15-11-2015
AveragePrice            1.13
Total Volume          339861
4046                  263916
4225                 28442.5
4770                  455.97
Total Bags           47046.5
Small Bags           33656.4
Large Bags           13390.1
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 33, dtype: object
27 Date              08-11-2015
AveragePrice            1.12
Total Volume          334042
4046                  250441
4225                 34483.3
4770                  488.24
Total Bags           48628.7
Small Bags           35662.9
Large Bags           12941.1
XLarge Bags             24.6
type            conventional
year                    2015
region               Atlanta
Name: 34, dtype: object
28 Date              01-11-2015
AveragePrice            0.99
Total Volume          419089
4046                  290458
4225                 62980.1
4770                  252.79
Total Bags           65398.4
Small Bags           39460.8
Large Bags           25929.4
XLarge Bags             8.22
type            conventional
year                    2015
region               Atlanta
Name: 35, dtype: object
29 Date              25-10-2015
AveragePrice            1.09
Total Volume          358478
4046                  236814
4225                   64608
4770                  304.36
Total Bags           56751.5
Small Bags           31826.9
Large Bags           24924.6
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 36, dtype: object
30 Date              18-10-2015
AveragePrice            1.09
Total Volume          349072
4046                  228710
4225                 59731.8
4770                  291.22
Total Bags           60339.2
Small Bags           36884.3
Large Bags           23454.8
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 37, dtype: object
31 Date              11-10-2015
AveragePrice            0.95
Total Volume          433874
4046                  255933
4225                 91047.3
4770                  599.71
Total Bags           86294.1
Small Bags             41160
Large Bags           45134.2
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 38, dtype: object
32 Date              04-10-2015
AveragePrice            0.96
Total Volume          418682
4046                  265797
4225                 92780.3
4770                  644.43
Total Bags           59460.4
Small Bags           14875.6
Large Bags           44584.8
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 39, dtype: object
33 Date              27-09-2015
AveragePrice            1.07
Total Volume          370321
4046                  262107
4225                 61870.6
4770                   680.8
Total Bags           45662.3
Small Bags           20533.9
Large Bags           25125.7
XLarge Bags             2.78
type            conventional
year                    2015
region               Atlanta
Name: 40, dtype: object
34 Date              20-09-2015
AveragePrice            0.93
Total Volume          516433
4046                  346119
4225                 82762.7
4770                 1349.41
Total Bags             86202
Small Bags           33698.4
Large Bags           52442.2
XLarge Bags            61.28
type            conventional
year                    2015
region               Atlanta
Name: 41, dtype: object
35 Date              13-09-2015
AveragePrice            1.07
Total Volume          417232
4046                  278048
4225                   62486
4770                  714.93
Total Bags             75983
Small Bags           46290.3
Large Bags           29678.8
XLarge Bags            13.94
type            conventional
year                    2015
region               Atlanta
Name: 42, dtype: object
36 Date              06-09-2015
AveragePrice            0.97
Total Volume          472137
4046                  303113
4225                 73675.9
4770                  911.25
Total Bags           94436.2
Small Bags           49833.6
Large Bags           44549.7
XLarge Bags            52.97
type            conventional
year                    2015
region               Atlanta
Name: 43, dtype: object
37 Date              30-08-2015
AveragePrice            1.15
Total Volume          382973
4046                  275818
4225                 44839.1
4770                 1034.09
Total Bags           61281.2
Small Bags           47138.1
Large Bags           14112.5
XLarge Bags            30.67
type            conventional
year                    2015
region               Atlanta
Name: 44, dtype: object
38 Date              23-08-2015
AveragePrice            1.12
Total Volume          379054
4046                  274462
4225                 46223.7
4770                  950.09
Total Bags           57418.1
Small Bags           45534.1
Large Bags             11884
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 45, dtype: object
39 Date              16-08-2015
AveragePrice            1.09
Total Volume          465214
4046                  362580
4225                 41992.4
4770                 1424.96
Total Bags           59216.9
Small Bags           45068.2
Large Bags           14148.6
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 46, dtype: object
40 Date              09-08-2015
AveragePrice            1.01
Total Volume          503792
4046                  385028
4225                 47040.1
4770                 4251.74
Total Bags           67472.2
Small Bags           45820.4
Large Bags           21568.5
XLarge Bags            83.27
type            conventional
year                    2015
region               Atlanta
Name: 47, dtype: object
41 Date              02-08-2015
AveragePrice            1.15
Total Volume          405898
4046                  306588
4225                 41906.8
4770                 3515.48
Total Bags           53888.3
Small Bags           42126.5
Large Bags           11720.3
XLarge Bags            41.55
type            conventional
year                    2015
region               Atlanta
Name: 48, dtype: object
42 Date              26-07-2015
AveragePrice            1.08
Total Volume          437378
4046                  335372
4225                 44087.1
4770                     708
Total Bags           57210.7
Small Bags           45114.2
Large Bags           12096.4
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 49, dtype: object
43 Date              19-07-2015
AveragePrice            0.97
Total Volume          557213
4046                  446100
4225                 47838.4
4770                 1982.03
Total Bags           61292.4
Small Bags           45099.9
Large Bags           16192.5
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 50, dtype: object
44 Date              12-07-2015
AveragePrice            1.14
Total Volume          407205
4046                  310080
4225                 37953.2
4770                  867.46
Total Bags           58303.8
Small Bags           46023.6
Large Bags           12280.3
XLarge Bags                0
type            conventional
year                    2015
region               Atlanta
Name: 51, dtype: object
45 Date              05-07-2015
AveragePrice            1.01
Total Volume          562462
4046                  436378
4225                 54675.4
4770                  848.55
Total Bags           70560.5
Small Bags           50684.7
Large Bags             19851
XLarge Bags            24.75
type            conventional
year                    2015
region               Atlanta
Name: 52, dtype: object
46 Date              28-06-2015
AveragePrice            1.13
Total Volume          435211
4046                  331353
4225                 37698.5
4770                  816.56
Total Bags           65342.2
Small Bags           52099.8
Large Bags             13108
XLarge Bags            134.4
type            conventional
year                    2015
region               Atlanta
Name: 53, dtype: object
47 Date              21-06-2015
AveragePrice            0.99
Total Volume          554764
4046                  449311
4225                 30231.8
4770                   678.4
Total Bags           74542.1
Small Bags           55484.8
Large Bags           19010.8
XLarge Bags            46.54
type            conventional
year                    2015
region               Atlanta
Name: 54, dtype: object
48 Date              14-06-2015
AveragePrice             1.1
Total Volume          465805
4046                  386370
4225                 17701.1
4770                  471.72
Total Bags           61261.4
Small Bags           48612.1
Large Bags           12578.3
XLarge Bags            71.03
type            conventional
year                    2015
region               Atlanta
Name: 55, dtype: object
49 Date              07-06-2015
AveragePrice            0.99
Total Volume          551009
4046                  455566
4225                 22414.2
4770                  738.68
Total Bags           72290.3
Small Bags           50954.8
Large Bags             21330
XLarge Bags             5.45
type            conventional

/home/anant/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
1,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
3,22-11-2015,1.25,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.0,conventional,2015,Albany
5,13-12-2015,1.21,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,organic,2015,xxxx
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,20-09-2015,NaN,498640.23,4376.74,398673.48,418.46,95171.55,91612.66,3558.89,0.0,conventional,2015,Boston
198,13-09-2015,NaN,655682.95,5422.29,560792.23,353.77,89114.66,84843.55,4271.11,0.0,conventional,2015,Boston
199,06-09-2015,NaN,577774.74,4237.44,477867.83,496.62,95172.85,94558.41,614.44,0.0,conventional,2015,Boston
200,30-08-2015,NaN,526664.87,4177.03,438502.90,554.04,83430.90,83242.01,188.89,0.0,conventional,2015,Boston
201,23-08-2015,NaN,589471.32,4744.11,488292.10,608.61,95826.50,95585.38,241.12,0.0,conventional,2015,Boston

3. Binarize the attribute “Year”. Set the threshold above 2016 and print it without truncation. (Use AVOCADO dataset)

In [15]:
pre.binarize(avdata['year'].values.reshape(-1, 1), 2016)

array([[0],
       [0],
       [0],
       ...,
       [1],
       [1],
       [1]])

4. Transform all categorical attributes in the dataset AVOCADO using Integer Encoding.

In [16]:
pre.OrdinalEncoder(avdata)

OrdinalEncoder(categories=       Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0               0  27-12-2015          1.33      64236.62  1036.74   54454.85
1               1  20-12-2015          1.35      54876.98   674.28   44638.81
2               2  13-12-2015          0.93     118220.22   794.70  109149.67
3               3  06-12-2015          1.08      78992.15  1132.00   71976.41
4               4  29-11-2015          1.29      51039.60   941.48   43838.39
...           ...         ...           ...           ...      ...        ...
18245       18245  28-01-2018          1.71      13888.04  1191.70    3431.50
18246       18246  21-01-20...
18248  224.53    12014.15    11988.14       26.01          0.0       organic
18249    0.00    12341.48    12114.81      226.67          0.0       organic

       year            region Hierarchy
0      2015            Albany       Old
1      2015            Albany       Old
2      2015            Albany       Old
3      2015            Albany       Old
4      2015            Albany       Old
...     ...               ...       ...
18245  2018  WestTexNewMexico    Recent
18246  2018  WestTexNewMexico    Recent
18247  2018  WestTexNewMexico    Recent
18248  2018  WestTexNewMexico    Recent
18249  2018  WestTexNewMexico    Recent

[18250 rows x 15 columns],
               dtype=<class 'numpy.float64'>)

5. Transform the attribute = “Region” in the given dataset AVOCADO using One-Hot Encoding.

In [17]:
pre.OneHotEncoder(avdata['region'])

OneHotEncoder(categories=0                  Albany
1                  Albany
2                  Albany
3                  Albany
4                  Albany
               ...
18245    WestTexNewMexico
18246    WestTexNewMexico
18247    WestTexNewMexico
18248    WestTexNewMexico
18249    WestTexNewMexico
Name: region, Length: 18250, dtype: object,
              drop=None, dtype=<class 'numpy.float64'>, handle_unknown='error',
              sparse=True)

6. Ignore the tuples that hold missing values and print the subset of data from AVOCADO dataset.

In [18]:
avdata.dropna()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Hierarchy
0,0,27-12-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,Old
1,1,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,Old
2,2,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,Old
3,3,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,Old
4,4,29-11-2015,1.29,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,Old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18245,18245,28-01-2018,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico,Recent
18246,18246,21-01-2018,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico,Recent
18247,18247,14-01-2018,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico,Recent
18248,18248,07-01-2018,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico,Recent
18249,18249,18-03-2018,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.0,organic,2018,WestTexNewMexico,Recent

7. Drop the attribute that has high nullity as it facilitates efficient prediction. (Use AVOCADO dataset)

In [19]:
avdata.loc[:, avdata.isnull().mean() < .6]

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Hierarchy
0,0,27-12-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,Old
1,1,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,Old
2,2,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,Old
3,3,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,Old
4,4,29-11-2015,1.29,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,Old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18245,18245,28-01-2018,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico,Recent
18246,18246,21-01-2018,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico,Recent
18247,18247,14-01-2018,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico,Recent
18248,18248,07-01-2018,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico,Recent
18249,18249,18-03-2018,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.0,organic,2018,WestTexNewMexico,Recent


8. Study the entire dataset and report the complete statistical summary about the data (Use AVOCADO
    dataset)
    (For the below exercises, you are free to choose an appropriate data set as merited by the problem statements)

- Dimension of the dataset

In [20]:
avdata.shape

(18250, 15)

- Most frequently occurring value under every attribute.

In [21]:
print(*[(x, avdata[x].value_counts().idxmax()) for x in avdata], sep= '\n')

('Unnamed: 0', 2047)
('Date', '18-03-2018')
('AveragePrice', 1.15)
('Total Volume', 19634.24)
('4046', 0.0)
('4225', 0.0)
('4770', 0.0)
('Total Bags', 0.0)
('Small Bags', 0.0)
('Large Bags', 0.0)
('XLarge Bags', 0.0)
('type', 'conventional')
('year', 2017)
('region', 'Albany')
('Hierarchy', 'Old')

- Datatype of every attribute

In [22]:
avdata.dtypes

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
Hierarchy        object
dtype: object

- Count

In [23]:
avdata.count()

Unnamed: 0      18250
Date            18250
AveragePrice    18250
Total Volume    18250
4046            18250
4225            18250
4770            18250
Total Bags      18250
Small Bags      18250
Large Bags      18250
XLarge Bags     18250
type            18250
year            18250
region          18250
Hierarchy       18250
dtype: int64

- Mean

In [24]:
avdata.mean()

Unnamed: 0        9124.500000
AveragePrice         1.406852
Total Volume    850598.273413
4046            292992.481896
4225            295138.477670
4770             22838.484500
Total Bags      239626.747390
Small Bags      182185.367250
Large Bags       54335.123135
XLarge Bags       3106.256292
year              2016.148000
dtype: float64

- Standard Deviation

In [25]:
avdata.std()

Unnamed: 0      5.268466e+03
AveragePrice    4.024822e-01
Total Volume    3.453456e+06
4046            1.264956e+06
4225            1.204089e+06
4770            1.074613e+05
Total Bags      9.862168e+05
Small Bags      7.461591e+05
Large Bags      2.439596e+05
XLarge Bags     1.769242e+04
year            9.400127e-01
dtype: float64

- Minimum Value

In [26]:
avdata.min()

Unnamed: 0                 0
Date              01-01-2017
AveragePrice            0.44
Total Volume           84.56
4046                       0
4225                       0
4770                       0
Total Bags                 0
Small Bags                 0
Large Bags                 0
XLarge Bags                0
type            conventional
year                    2015
region                Albany
Hierarchy                New
dtype: object

- Maximum value

In [27]:
avdata.max()

Unnamed: 0                 18249
Date                  31-12-2017
AveragePrice                3.25
Total Volume         6.25056e+07
4046                 2.27436e+07
4225                 2.04706e+07
4770                 2.54644e+06
Total Bags           1.93731e+07
Small Bags           1.33846e+07
Large Bags            5.7191e+06
XLarge Bags               551694
type                     organic
year                        2018
region          WestTexNewMexico
Hierarchy                 Recent
dtype: object

- 25% (Lower Quartile)
- Median i.e. 50%
- 75% (Upper Quartile)

In [29]:
avdata.quantile([0.25,0.5,0.75])

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
0.25,4562.25,1.10,10839.6275,854.2100,3008.0975,0.000,5089.0825,2850.3225,127.580,0.0000,2015.0
0.50,9124.50,1.37,107365.5050,8643.2000,29058.8750,184.975,39741.1800,26351.6150,2647.270,0.0000,2016.0
0.75,13686.75,1.66,432952.6650,111008.7125,150166.3350,6242.055,110781.1150,83336.2100,22018.275,132.4325,2017.0

- Find whether the class distribution of dataset is imbalanced. (Note: Fix the class label as “Type” in the given dataset)

In [38]:
avdata.type.value_counts()
# count doesn't vary too much wrt type and hence the data is not imbalanced class distribution

conventional    9126
organic         9124
Name: type, dtype: int64

- Correlation matrix

In [40]:
avdata.corr()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
Unnamed: 0,1.000000,0.576975,-0.168408,-0.166762,-0.184927,-0.185298,-0.129854,-0.137209,-0.097911,-0.101632,0.475198
AveragePrice,0.576975,1.000000,-0.193116,-0.208891,-0.172971,-0.179811,-0.177532,-0.175129,-0.173481,-0.118026,0.090644
Total Volume,-0.168408,-0.193116,1.000000,0.977863,0.974181,0.872203,0.963047,0.967238,0.880640,0.747158,0.017165
4046,-0.166762,-0.208891,0.977863,1.000000,0.926110,0.833390,0.920057,0.925280,0.838645,0.699378,0.003328
4225,-0.184927,-0.172971,0.974181,0.926110,1.000000,0.887855,0.905788,0.916031,0.810016,0.688809,-0.009584
4770,-0.185298,-0.179811,0.872203,0.833390,0.887855,1.000000,0.792315,0.802733,0.698472,0.679862,-0.036550
Total Bags,-0.129854,-0.177532,0.963047,0.920057,0.905788,0.792315,1.000000,0.994335,0.943009,0.804233,0.071520
Small Bags,-0.137209,-0.175129,0.967238,0.925280,0.916031,0.802733,0.994335,1.000000,0.902589,0.806845,0.063883
Large Bags,-0.097911,-0.173481,0.880640,0.838645,0.810016,0.698472,0.943009,0.902589,1.000000,0.710859,0.087858
XLarge Bags,-0.101632,-0.118026,0.747158,0.699378,0.688809,0.679862,0.804233,0.806845,0.710859,1.000000,0.081005
year,0.475198,0.090644,0.017165,0.003328,-0.009584,-0.036550,0.071520,0.063883,0.087858,0.081005,1.000000

- Skewness of every attribute.

In [41]:
avdata.skew()

Unnamed: 0       0.000000
AveragePrice     0.575674
Total Volume     9.007930
4046             8.648456
4225             8.942706
4770            10.159671
Total Bags       9.756334
Small Bags       9.540917
Large Bags       9.796719
XLarge Bags     13.140106
year             0.215371
dtype: float64

9. Test drive the use of Gini Index, Information Gain, Entropy and other measures that are supported in your platform, performing the role of data selection.

10. Test drive the implementation support in your platform of choice for data preprocessing phases such as cleaning, selection, transformation, integration in addition to the earlier exercises.

In [62]:
imputer = SimpleImputer(missing_values=np.nan,strategy = "mean") 
imputer.fit(avdata['Total Volume'].values.reshape(-1, 1))
imputer.fit(avdata['AveragePrice'].values.reshape(-1, 1))

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)